@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://i.ibb.co/7VJnxvr/fondo-fiesta-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

.info-block {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 30px;
    width: 50%;
    height: 450px;
    border-radius: 12px;
    border: solid 2px slategray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}

.assigned_color {
    position: absolute;
    background-color: white;
    width: 25px;
    height: 25px;
    transform: translateX(-15px);
    border: 2px solid black;
    border-radius: 5px;
}